@import "tailwindcss";

@theme {
    --font-text: "Poppins", serif;
    --font-name: "Bangers", serif;
}

* {
    scrollbar-width: none;
}

.name::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 0;
    background-color: rgb(18, 113, 222);
    transition: width 0.5s ease;
}

.name:hover::after {
    width: 100%;
}

.visit {
    overflow: hidden;
    z-index: 1;
}

.visit::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0%;
    top: 0%;
    background-color: rgb(19, 160, 19);
    z-index: -1;
}

.visit:hover::after {
    animation: width 0.3s linear forwards;
}

.visit:not(:hover)::after {
    animation: width1 0.3s linear forwards;
}

@keyframes width {
    0% {width: 0%}
    100% {width: 100%}
}

@keyframes width1 {
    0% { width: 0%; background-color: blue}
    100% { width: 100%; background-color: blue}
}

.loader {    
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%; 
    background:
        radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
        radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
        radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
        #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%,0% 0%,100% 0%;
    background-repeat:no-repeat;
    animation: l9 2s infinite linear;
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position:   -100% 66%, 0% 66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100% }
}